/* Fondo general con degradado */
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, #e49bd5, #fdb3f9);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor central (mantiene todo alineado) */
.login-container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  top: -60px; /* sube todo el contenido visualmente */
  margin: 0px 15px;
}

/* Logo centrado y más arriba */
.logo {
  width: 250px;
  height: 250px;
  object-fit: contain;
  margin-bottom: 10rem; /* separa del formulario */
  margin-top: 5rem;
  border-radius: 999px;  
}

/* Formulario */
.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem; /* separa del bloque de links */
}

/* Inputs */
.login-form input {
  padding: 12px 16px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  background-color: var(--bg-container); /* fondo adaptable al tema */
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  outline: none;
  color: var(--text-primary);
  background-color: white;
}

/* Botón de enviar */
.login-form button {
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    gap: 0.5rem;
    background: #F344EA;
    color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s;
    outline: none;
}

/* Enlaces */
.login-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 14px;
}

.login-links a {
  
  color: #2a0f65;
  font-weight: 900;
  /*color: #00aaff;*/
  text-decoration: none;
}

.login-links a:hover {
  text-decoration: underline;
}
