{% extends 'base.html' %}
{% load static %}

{% block title %}Muro - FunATI{% endblock %}

{% block page_title %}Muro{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/muro.css' %}">
{% endblock %}

{% block content %}
<!-- Formulario de publicación -->
<form method="post" enctype="multipart/form-data" class="funar" id="funar-form" data-container-url="{% url 'funATIAPP:container' %}">
    {% csrf_token %}
    <div class="funar-flex">
        <!-- Primera columna: Avatar del usuario -->
        <div class="funar-avatar-column">
            {% if user.is_authenticated and user.profile.avatar %}
                <img src="{{ user.profile.avatar.url }}" alt="{{ user.username }}" class="post-avatar" />
            {% else %}
                <img src="{% static 'assets/user-placeholder.png' %}" alt="{{ user.username }}" class="post-avatar" />
            {% endif %}
        </div>
        
        <!-- Segunda columna: Input y botones -->
        <div class="funar-content-column">
            <!-- Input de contenido -->
            <div class="funar-input-container">
                <span class="span-funar" id="funar-content" contenteditable="true">¿A quién quieres Funar?</span>
                <input type="hidden" name="content" id="hidden-content" />
            </div>
            
            <!-- Preview de imagen -->
            <div class="media-preview-container" id="media-preview-container">
                <img id="media-preview-img" class="media-preview-img" alt="Preview" />
                <button type="button" class="media-preview-remove" id="media-preview-remove" onclick="removeMediaPreview()">×</button>
            </div>
            
            <!-- Botones en flex -->
            <div class="buton-flex">
                <div class="multimedia-btn-bottom">
                    <label for="media-input" class="media-input-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path d="M17.75 0H2.25C1.01 0 0 1.01 0 2.25V17.75C0 18.99 1.01 20 2.25 20H17.75C18.99 20 20 18.99 20 17.75V2.25C20 1.01 18.99 0 17.75 0ZM2.25 1.5H17.75C18.163 1.5 18.5 1.837 18.5 2.25V11.926L14.642 8.068C14.502 7.928 14.312 7.848 14.112 7.848H14.109C13.909 7.848 13.716 7.928 13.577 8.072L9.26 12.456L7.447 10.65C7.307 10.51 7.117 10.43 6.917 10.43C6.724 10.4 6.522 10.51 6.382 10.657L1.5 15.642V2.25C1.5 1.837 1.837 1.5 2.25 1.5ZM1.506 17.78L6.924 12.246L13.206 18.5H2.25C1.848 18.5 1.523 18.178 1.506 17.78ZM17.75 18.5H15.33L10.323 13.513L14.115 9.663L18.5 14.047V17.75C18.5 18.163 18.163 18.5 17.75 18.5Z" fill="#F344EA"/>
                            <path d="M6.86799 7.851C7.71961 7.851 8.40999 7.16062 8.40999 6.309C8.40999 5.45738 7.71961 4.767 6.86799 4.767C6.01637 4.767 5.32599 5.45738 5.32599 6.309C5.32599 7.16062 6.01637 7.851 6.86799 7.851Z" fill="#F344EA"/>
                        </svg>
                    </label>
                    <input type="file" name="media" id="media-input" class="input-media" accept="image/*" />
                </div>
                <div class="funar-submit-container">
                    <button type="submit" class="button-funar" id="funar-btn" disabled>Funar</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Un solo contenedor para publicaciones -->
<div id="publicaciones" class="section muro"></div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/muro.js' %}"></script>
{% endblock %}
