{% for reply in replies %}
<div class="post reply" style="margin-left: {{ parent_margin }}px; margin-top: 8px;" id="comment-{{ reply.id }}">
    <div class="post-header">
        <div class="post-avatar"></div>
        <span class="post-username">{{ reply.user.username }}</span>
        <span class="post-time">{{ reply.created_at|timesince }} atrás</span>
    </div>
    <div class="post-content">{{ reply.content }}</div>
    <div style="display: flex; justify-content: flex-end; align-items: center; margin-top: 8px;">
        <button class="reply-btn button-funar" onclick="showReplyForm('{{ reply.id }}')">Responder</button>
    </div>
    <div class="reply-form-container" id="reply-form-{{ reply.id }}" style="display:none;">
        <form method="post" class="funar reply-form" style="margin-bottom: 16px;">
            {% csrf_token %}
            <div class="funar-flex">
                <div class="post-avatar"></div>
                <span class="span-funar reply-contenteditable" contenteditable="true">Escribe una respuesta...</span>
                <input type="hidden" name="content" class="hidden-reply-content" />
                <input type="hidden" name="parent" value="{{ reply.id }}">
            </div>
            <div class="buton-flex" style="position: relative; min-height: 50px;">
                <div style="margin-left: auto;">
                    <button type="submit" class="button-funar" id="funar-btn-reply-{{ reply.id }}">Responder</button>
                </div>
            </div>
        </form>
    </div>
    {% include "funATIAPP/replies_recursive.html" with replies=reply.replies.all parent_margin=parent_margin|add:32 %}
</div>
{% endfor %}
